@model CreateProductModel
@Html.ValidationSummary()
<form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
   <p>Adding a product</p>
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Name:</label>
    <input asp-for="Name" type="text" class="form-control">
    @Html.ValidationMessageFor(m => m.Name)
  </div>
  <div class="mb-3">
    <label asp-for="Description" class="form-label">Description:</label>
    <input asp-for="Description" type="text" class="form-control">
    @Html.ValidationMessageFor(m => m.Description)
  </div>
  <div class="mb-3">
    <label asp-for="Price" class="form-label">Price:</label>
    <input asp-for="Price" type="number" class="form-control">
    @Html.ValidationMessageFor(m => m.Price)
  </div>
  <div class="mb-3">
  <label asp-for="CategoryId">Select a category</label>
  <select asp-for="CategoryId" class="form-select mt-3">
     @foreach (var category in Model.SubCategories)
     {
         <option value="@category.Id">@category.Name</option>
     }
   </select>
   </div>
     <div class="mb-5">
                <label asp-for="Image" class="form-label">image Upload with Preview</label>
                <input asp-for="Image" class="form-control" type="file" id="formFile" onchange="preview()">
                <button onclick="clearImage()" class="btn btn-primary mt-3">Click me</button>
     </div>
            <img id="frame" src="" class="img-fluid" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

         <script>
            function preview() {
                frame.src = URL.createObjectURL(event.target.files[0]);
            }
            function clearImage() {
                document.getElementById('formFile').value = null;
                frame.src = "";
            }
        </script>