@model CartModel
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
@if(Model.CartItems.Count == 0){
    <p>There are no items in the cart</p>
}else
{
    <table class="table table-striped">
    <tr class="firstRow">
        <th class="col-sm-3">Image</th>
        <th>Name</th>
        <th>Description</th>
        <th class="col-sm-2">Quantity</th>
        <th>Price</th>
        <th>Remove item</th>
    </tr>
    @foreach (var cartItem in Model.CartItems)
    {
        <tr>
            <td class="col-sm-3"><img class="img-fluid" src="@(System.IO.Path.Combine("Photo", cartItem.Product.FileName))" alt="..."/></td>
            <td>@cartItem.Product.Name</td>
            <td>@cartItem.Product.Description</td>
            <td class="col-sm-2">
                <div class="input-group">
                    <form asp-controller="Cart" asp-action="SubtractAnItem" asp-route-itemId="@cartItem.Product.Id" method="post">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-danger btn-number"  data-type="minus">
                            <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                    </form>
                  <input type="text" class="form-control input-number" value="@cartItem.Quantity" readonly>
                  <form asp-controller="Cart" asp-action="AddAnItem" asp-route-itemId="@cartItem.Product.Id" method="post">
                      <span class="input-group-btn">
                      <button type="submit" class="btn btn-success btn-number" data-type="plus">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>
                     </span>
                  </form>
                </div>
            </td>
            <td>@cartItem.Product.Price</td>
            <td>
                <form asp-controller="Cart" asp-action="RemoveAnItem" asp-route-cartItemId="@cartItem.Id">
                    <button type ="submit" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                        </svg>
                     </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-controller="Cart" asp-action="Purchase">Buy</a>
}