@model HomeViewModel

<div class="container">
      <div class="row">
           <div class="col-sm-4">
             @foreach(var category in Model.categories)
            {
           
              <div class="list-group">
                <a href="#" class="list-group-item active">
                  @category.Name
                </a>
                    @foreach (var subcategory in category.SubCategories)
                    {
                         <a asp-controller="Home" asp-action="Index" asp-route-selectedCategory="@subcategory.Id" class="list-group-item">@subcategory.Name <span class="badge">4</span></a>
                    }
              </div>
       
            }
         </div>
        <div class="col-sm-8">
          <ol class="breadcrumb">
            <li  class="breadcrumb-item"><a href="#">Home</a></li>
            <li  class="breadcrumb-item"><a href="#">Electronics</a></li>
            <li  class="breadcrumb-item active">Mobile</li>
          </ol>
          <div>
            <div class="row">
                    @if(Model.products.Count == 0)
                    {
                        <p>There are no products in the selected category.</p>
                    }
                    else
                    {
                        @foreach(var product in Model.products)
                        {
                         <div class="col-sm-6 col-md-4">
                             <div class="thumbnail">
                            @*<img class="img-thumbnail" src="@($"data:image/jpg;base64,{product.Blob}")" alt="..."/>*@     
                            <img class="img-thumbnail" src="@(System.IO.Path.Combine("Photo", product.FileName))" alt="..."/>
                                 <div class="caption text-center">
                                     <h3>@product.Name</h3>
                                     <p>Price: <span>$@product.Price</span></p>
                                     <p><a asp-controller="Cart" asp-action="AddAnItem" class="btn btn-primary" role="button">Add to cart</a></p>
                                 </div>
                             </div>
                          </div>
                        }
                    }
            </div>
          </div>
        </div>
        </div>
      </div>