@model List<ProductModel>
@if(Model.Count == 0){
    <p>There are no products</p>
}else
{
    <table class="table table-striped">
    <tr class="firstRow">
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>More Info</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="@product.Id">More info</a></td>
        </tr>
    }
</table>
}